/* Your button CSS file */
.btn-medium {
  color: rgba(10, 10, 10, 0.2);
  border: solid 1px;
  border-radius: 20px;
  padding: 8px 20px 8px 20px;
}

.btn-medium:hover {
  color: rgba(10, 10, 10, 0.5);
}

.btn-treehouse {
  color: white;
  background-color: #6BD68B;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 20px 8px 20px;
  transition: 600ms;
}

.btn-treehouse:hover {
  background-color: #0ded50;
}

.btn-yours {
  color: black;
  border-radius: 10px;
  background-color: #FFCA10;
  padding: 8px 20px 8px 20px;
  transition: 600ms;
}

.btn-yours:hover {
  padding: 16px 40px 16px 40px;
  font-size: 32px;
}
